{% extends 'base.html.twig' %}

{% block title %} Wallace Articles {% endblock %}

{% block body %}
    {% if articles %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Article Title</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for article in articles %}
                    <tr>
                        <td>{{ article }}</td>
                        <td>
                            <a href="/articles/1" class="btn btn-dark">Show</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else  %}
        <p>No Articles tp display</p>
    {% endif  %}
{% endblock %}